@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wire+One&display=swap");

* {
  box-sizing: border-box;
  /* z-index: 5; */
}

body {
  font-family: "Playfair Display", serif;
  display: grid;
  justify-items: center;
}

.portada {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: [uno] 92% [dos] 8% [tres];
}

.barra {
  background-color: #1b1557;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: inline-block;
}

.traduccion {
  display: flex;
  gap: 1%;
  width: 8%;
}

.traduccion img {
  height: 25px;
}

.traduccion a {
  text-decoration: none;
  color: white;
}

.navbar-nav {
  padding-right: 8%;
}

.barra__style li {
  padding-left: 20px;
  padding-right: 20px;
}

.barra ul a {
  text-decoration: none;
  color: white;
}

.cara {
  background-image: url("../img/mar_fondo2.jpg");
  background-size: cover;
  position: relative;
}

.cara__logotipo {
  background-image: url("../img/mar_logo_sin_fondo.png");
  background-size: contain;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
}

.separador {
  background-color: #1b1557;
}

.gastro {
  padding-top: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: [uno] 150px [dos] 400px [tres] 400px [cuatro];
  justify-content: center;
  justify-items: center;
}

.gastro header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

hr {
  color: black;
}

.miniSeparador--horizontal {
  width: 60%;
  height: 2px;
  margin: auto;
  background-color: #1b1557;
}

.reserva {
  width: 60%;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.reserva__online button {
  background-color: #1b1557;
  color: white;
  width: 50%;
  border-radius: 3px;
  cursor: pointer;
}

.reserva__online button a {
  text-decoration: none;
  color: white;
}

.nosotros {
  padding-top: 35px;
  width: 80%;
  margin: auto;
}

.nosotros header {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin-bottom: 3%;
}

.nosotros__imagen {
  background-image: url("../img/nosotros.jpg");
  width: 290px;
  height: 450px;
  background-size: cover;
}

.nosotros_descripcion {
  text-align: justify;
  padding: 5%;
}

.nosotros__360 {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.nosotros__situacion {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  padding-bottom: 2%;
}

.foo {
  width: 100%;
  text-align: center;
  background-color: #1b1557;
  color: white;
  padding-top: 10px;
  padding-bottom: 20px;
}

.foo a {
  text-decoration: none;
  color: white;
}

/* --------------------------- */

#categories img {
  height: 300px;
  margin: auto;
  display: block;
}

#section-div {
  justify-self: center;
  align-items: center;
}

.categories__enlace {
  width: 100%;
  text-align: center;
  height: 100%;
  display: block;
  text-decoration: none;
  color: black;
}

#dishes-list {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

#dishes-list p,
h4 {
  width: 40%;
  margin: auto;
}

#category-list > h1 {
  margin-top: 50px;
}

.seccion__plato {
  width: 90%;
  margin: auto;
}

.seccion__plato div {
  padding: 0;
  width: 90%;
  margin: auto;
}

.plato {
  margin-top: 30px;
  z-index: 5;
  position: relative;
}

.plato img {
  width: 280px;
  height: 280px;
}

.cambiar--fondo,
#random-dishes {
  background-image: url("../img/marmol2.jpg");
  background-size: cover;
}

.miniSeparador {
  margin: auto;
  width: 60%;
  height: 2px;
  background-color: #1b1557;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}

#navCats:hover,
#navCats:active,
#navCats:focus,
#navAller:hover,
#navAller:active,
#navAller:focus,
#navMenu:hover,
#navMenu:active,
#navMenu:focus,
#navRest:hover,
#navRest:active,
#navRest:focus {
  color: white;
}

.dropdown-item {
  background-color: #1b1557;
}

.dropdown-item:hover {
  color: #1b1557;
}

.dropdown-menu {
  --bs-dropdown-padding-y: 0;
  --bs-dropdown-link-hover-bg: white;
}

.dropdown-menu li {
  padding: 0;
}

#main {
  justify-content: center;
  width: 100%;
  text-align: center;
}

#random-dishes {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: [uno] 50px [dos] 50px [tres] 380px [cuatro];
  justify-content: center;
}

.miniSeparador {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
}

.tit {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
}

.plato2 {
  display: flex;
  justify-content: center;
}

#single-dish {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#restaurant {
  margin-top: 50px;
  margin-bottom: 50px;
}

.breadcrumb {
  margin-left: 8%;
}

#btn {
  margin-bottom: 50px;
  color: white;
  background-color: #1b1557;
  height: 30px;
  border-radius: 5px;
}

.body__aux {
  background-image: url("../img/marmol2.jpg");
  background-size: cover;
}

.spinner-grow {
  margin-top: 40vh;
}

#mapa {
  margin: auto;
  margin-top: 12vh;
  height: 80%;
}

/* -------------------------------- */

@media screen and (max-width: 576px) {
  .traduccion {
    width: 30%;
  }
  .seccion__plato div {
    width: 100%;
    margin: 0;
  }
  #dishes-list p,
  h4 {
    width: 100%;
    margin: auto;
  }
}
